= simple_form_for @potion, html: { multipart: true } do |f|
  - if @potion.errors.any?
    #errors
      %p
        = @potion.errors.count
        Prevented this potion from saving
      %ul
        - @potion.errors.full_messages.each do |msg|
          %li= msg
  .pane-body
    = f.input :title, input_html: { class: "form-control" }
    = f.input :description, input_html: { class: "form-control" }
    = f.input :image, input_html: { class: "form-control" }

    = f.button :submit, class: "btn btn-primary"
