- @potion.each_slice(3) do |potions|
  .row
    - potions.each do |potion|
      .col-md-4
        .potion
          .image_wrapper
            = link_to potion do
              = image_tag potion.image.url(:medium)
          %h2= link_to potion.title, potion
