= image_tag @potion.image.url(:medium, class: "potion_image")
%h1= @potion.title
%p= @potion.description

= link_to "Back", root_path, class: "btn btn-default"
= link_to "Edit", edit_potion_path, class: "btn btn-default"
= link_to "Delete", potion_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
