%nav.navbar.navbar-default
  .container
    .navbar-brand= link_to "Cauldron", root_path

    %ul.nav.navbar-nav.navbar-right
      %li= link_to "Potion", new_potion_path
      %li= link_to "Sign Out", root_path
